MONGO_URI=mongodb+srv://<username>:<password>@cluster.mongodb.net/systemDB
MONGO_URI=mongodb://localhost:27017/systemDB
JWT_SECRET=school_management_super_secret_2024
JWT_EXPIRE=7d
PORT=5000
NODE_ENV=development

# ── Paystack ──────────────────────────────────────────────────
# Get keys from https://dashboard.paystack.com/#/settings/developers
# Use TEST keys during development, LIVE keys in production
PAYSTACK_SECRET_KEY=sk_test_65b3247f21f08c2e1fd6f73047a1a6afe6305cf1
PAYSTACK_PUBLIC_KEY=pk_test_010f32e72f3c7eaf52a8a6134190a90f4f33f564

# Frontend URL (for Paystack redirect after payment)
FRONTEND_URL=http://localhost:3000
